---
title: Get URL to a User’s BuddyPress Activity Stream Page
date: "2016-07-23T18:12:23.121Z"
---

If the BuddyPress activity stream component is enabled, the `Activity` tab showing the activity stream is typically accessible at the main user domain URL. You can get that URL by calling `bp_loggedin_user_domain()`.

And the profile tab URL is typically `bp_loggedin_user_domain() . 'profile/'`.
